html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.hidden{
    display: none;
}

body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    background-color: #121212;
    color: #e4e4e4;
}

.main-header {
    background-color: rgb(240, 240, 240);
    padding: 20px 15px;
    align-items: center;
}


.main-header img {
    width: auto;
    height: 70px;
}

.ham { 
    font-size: 48px;
    background: none;
    border: none;
    border-radius: 25px;
    color: #ac6c00;
    justify-self: end;
    cursor: pointer;
}


#main-nav {
    display: none;
}


#main-nav.open {
    display: block;
    text-align: center;
}


#main-nav ul {
    list-style: none;
    margin: 0;
    padding: 30px;
    display: grid;
    place-items: center;
    row-gap: 55px;
}

#main-nav li {
    margin: 0;
}

#main-nav a {
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

#main-nav a:hover {
    color: #5259dd;
    transition: all ease-in 0.2s;
    animation: simpleFloat 0.5s ease;
}


@media screen and (min-width: 768px) {
    .ham {
        display: none;
    }

    #main-nav {
        display: block;
    }

    #main-nav ul {
        padding: 0;
        display: grid;
        grid-auto-flow: column;
        column-gap: 40px;
        justify-content: end;
        align-items: center;
    }

    #main-nav li {
        margin: 0;
    }

}

@media screen and (min-width: 1100px) {
    .main-header {
        padding: 14px 40px;
    }
    .book-cover img {
        max-width: 500px;
        width: 100%;
        height: auto;
        margin: 0 auto;
        display: block;
}
}

.book-gallery {
    padding: 40px 15px;
    max-width: 1200px;
    margin: 0 auto;
}

.book-gallery h2 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
}

.book-card {
    background-color: #131822;
    border-radius: 16px;
    padding: 16px;
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.35);
    filter: saturate(70%);
    animation: cardSlide 1s forwards;
    animation-delay: 0.3s;
    opacity: 0;
    margin-bottom: 15px;
}

.book-card img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 12px;
}

.book-card h3 {
    margin: 12px 0 4px;
    font-size: 18px;
    font-weight: 600;
}

.book-author {
    margin: 0;
    font-size: 15px;
    color: #bbb;
}

.book-card:hover {
    background-color: #111111;
    transition: all ease-in-out 0.1s;
    filter: brightness(105%);
    filter: saturate(110%);
    rotate: calc(2deg);
    scale: calc(105%);
}

.hero {
    background-color: #e67947;
    color: white;
    text-align: center;
    padding: 70px 50px 70px 50px;
    min-height: 150px;
    animation: colorPulseBkg 60s ease infinite;
}

.hero-content h1 {
    font-size: 40px;
    margin-bottom: 20px;
    animation: slideIn 1s forwards;
    animation-delay: 0.5s;
    opacity: 0;
}

.hero-content p {
    font-size: 20px;
    margin-bottom: 30px;
    animation: slideIn 1s forwards;
    animation-delay: 1s;
    opacity: 0;
}

footer{
    background-color: #e67947;
    color: white;
    padding: 30px 40px 80px 40px;
    min-height: 80px;
    animation: colorPulseBkg 60s ease infinite;
}

footer p{
    margin-top: 50px;
}

.btt-button{
    height: 80px;
    width: auto;
    color: #fff;
    text-decoration: none;
    text-align: center;
    transition: all ease-in 0.3s;
}

.book-detail {
    padding: 40px 15px 60px;
    row-gap: 24px;
    column-gap: 24px;
    align-items: start;
}

.book-cover img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 16px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.55);
}

.book-info h2 {
    font-size: 24px;
    margin: 0 0 8px;
}

.book-author {
    margin: 0 0 8px;
    font-size: 16px;
    color: #c7c7c7;
}

.book-title {
    margin: 0 0 20px;
    font-size: 15px;
    color: #aaaaaa;
}

.book-description {
    line-height: 1.6;
    font-size: 20px;
    margin-bottom: 24px;
    margin: 50px 0 50px 0;
}

.back-link a {
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 15px;
    color: #727272;
}

.back-link a:hover {
    text-decoration: none;
    color: #a6a6a6;
}

#reading-button{
    color: #e67947;
    font-weight: 700;
    font-size: 24px;
    
}

#reading-button:hover{
    color: #ffffff;
    animation: colorPulseRead 5s ease infinite;
    transition: all ease 0.5s;
}